$action: rgb(48, 181, 247);
$action-hover: rgb(39, 146, 200);
$link-visited: rgb(207, 117, 255);

$nav-link: rgb(127, 127, 127);
$nav-link-hover: rgb(42, 42, 42);

$border: rgb(199, 199, 199);
$border-lighter: rgb(231, 231, 231);
$section-grey: rgb(247, 247, 247);

$normal-text: rgb(118, 118, 118);