@use "mixins";
@use "colors";

.general-form {
  @include mixins.display-flex($direction: column);
  padding: 1rem;
  background-color: colors.$section-grey;
  border-radius: 0.5rem;
  border: 1px solid colors.$border;

  gap: 0.5rem;
  width: 300px;
  input,
  textarea,
  label {
    width: 100%;
  }
  label {
    font-size: 0.9rem;
    color: rgb(104, 104, 104);
    margin-bottom: -0.33rem;
    padding-left: 0.33rem;
  }
}

.account-form {
  @include mixins.center-absolute($top: 40%);
  footer {
    @include mixins.display-flex($justify: space-between);
    gap: 1rem;
    padding-top: 1rem;
  }
}

.menu-slider {
  @include mixins.display-flex();
  padding: 1.5rem;
  border-radius: 10rem;
  gap: 2rem;
  width: fit-content;
  background-color: colors.$section-grey;
  a {
    color: colors.$nav-link;
    &:visited {
      color: colors.$nav-link;
    }
    &:hover {
      color: colors.$nav-link-hover;
    }
  }
}

.general-form.centered {
  @include mixins.center-absolute($top: 40%);
}
