@use "Header";
@use "Form";
@use "colors";
@use "ButtonsLinks";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

#container {
  margin: auto;
  max-width: 95vw;
}

a {
  color: colors.$action;
  text-decoration: none;
  &:visited {
    color: colors.$link-visited;
  }
  &:hover {
    color: colors.$action-hover;
  }
}

input,
textarea {
  padding: 0.3rem 0.5rem;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 0.45rem;
  &::placeholder {
    color: rgb(193, 193, 193);
  }
}
